
.preview {
    position: relative;
    padding: 20px 0;
}
.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.delete {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
    color: black;
}

.title {
    font-weight: 600;
    margin-bottom: 5px;
}

.badge {
  position: absolute;
  top: 2px;
  left: 2px;
  padding: 4px 8px;
  border-radius: 20px;
  background-color: #00AFFF;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
}
